
/** General **/

.flex-container {
  flex-direction: column;
  padding: 1rem;
}

.image-container {
  order: 1;
}

img {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  order: 2;
  text-align: center;
  padding: 1rem;
  line-height: 200%;
  font-size: 1rem;
}

/** Body **/

body {
  font-family: 'Merriweather', sans-serif;
  color: #212121;
  background-color: #f3f3f3;
}

a {
  color: black;
}

/** Fade in Animation **/

* {
  animation: fade-in 1.5s;
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Desktop **/

@media only screen and (min-width: 992px) {
  /** Flexbox **/
  .flex-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }


  /** Text Styling **/
  .text-container {
    margin-left: 8rem;
    width: 70%;
    order: 1;
    text-align: left;
  }

  .name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  .about {
    line-height: 300%;
  }

  h1 {
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
  }

  p {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 0;
    display: block;
  }



  /** Image Styling **/
  .image-container {
    order: 2;
    display: flex;
  }

  img {
    display: flex;
    width: 60%;
    max-height: unset;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

}


/** Tablet **/

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .flex-container {
      flex-direction: column;
      padding: 1rem;
    }
    
    .image-container {
      order: 1;
    }
    
    img {
      max-height: 418px;
      max-width: 387px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .text-container {
      order: 2;
      text-align: center;
      padding: 1rem;
      line-height: 200%;
      font-size: 1rem;
      margin-top: unset;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .flex-container {
      flex-direction: column;
      padding: 1rem;
    }
    
    .image-container {
      order: 1;
      margin: 1rem;
    }
    
    img {
      max-height: 418px;
      max-width: 387px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .text-container {
      order: 2;
      text-align: center;
      padding: 1rem;
      line-height: 200%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}





